.grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(15px, 1fr)
  ); /* Adjust size as needed */
  gap: 5px; /* Optional: Add space between grid squares */
  width: 450px; /* Ensure container uses full width */
  max-width: 560px; /* Optional: Set a maximum width if needed */
  height: 100%;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid silver;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-row {
  display: flex;
}

button {
  margin: 5px;
}
:root {
  --repeat-times: 3; /* Default value for the number of times to repeat */
}

.grid-square {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  cursor: pointer;
  aspect-ratio: 1; /* Ensures squares stay square */
}
